#box{
	display: flex;
    justify-content: center;
    align-items: center;
	
}
#form{
	border-radius:0.2rem;
	padding: 2rem 3rem;
	box-shadow:0 0 1.5rem;
	font-weight:bold;
	max-width: 450px;
	margin: 5rem;
}

form h3 {
    text-align: center;
}
input{
	width:100%;
	height:35px;
	margin-top:1rem;
	margin-bottom: 2rem;
	border:1px solid #999;
	border-radius:3px;
	padding: 0.5rem;
}
.submitButton{
	background-color:#262526;
	border:1px solid white;
	font-Weight:bold;
	font-size: 2rem;
	color:#f2f2f2f2;
}
textarea{
	width:100%;
	height:80px;
	margin-top:5px;
	border-radius:3px;
	padding:5px;
	resize:none;
}
span{
	color:#D92332;
}
.successMessage{
    background-color: #7acc7d;
    border: #2b5a2d 1px solid;
    padding: 5px 9px;
    color: #262b26;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.errorMessage{
    background-color: #e64141;
    border: #da1414 1px solid;
    padding: 5px 10px;
    color: #fdf7f7;
    border-radius: 4px;
}
.info{
    font-size: 0.9em;
    color: #d67262;
    letter-spacing: 2px;
    padding-left: 5px;
}