/***********  MAIN ************/

.services {
    text-align: center;
}

.activity, .div-activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity2, .div-activity2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.activity-detail {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 70rem;
}

.activity-detail h3 {
    color: #d9777f;
}

.activity-detail p {
    text-align: justify;
}
.activity-image, .activity-image2  {
    max-width: 350px;
    border-radius: 25% 10%;
}

/*.button {
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
    background-color: #262526;
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 1rem;
}*/



@media screen and (min-width:980px) {

/******* MAIN *******/

main {
    max-width: 1200px;
    margin: auto;
}

.services {
    margin-bottom: 5rem;
}
/*.activity, .activity2 {
    display: flex;
    flex-direction: row;
    margin: 2rem;

}*/

.activity, .activity2 {
    margin: 2rem;
}

.div-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.activity-image {
    margin-right: 10rem;
    max-width: 500px;
    height: 320px;
}
.activity-image2 {
    margin-left: 10rem;
    max-width: 500px;
    height: 320px;
    

}

/*.button {
    margin-top: 2rem;
    transition: transform .2s
}

.button:hover {
    transform: scale(1.05);

}*/
}