.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.detail-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
}

table, caption, td, th {
    border: 2px solid #262526;
    border-collapse: collapse;
}

caption, th, td {
    padding: 0.7rem;
    }

table {
    min-width: 300px;
    max-width: 500px;
    margin: 2rem 2rem;
}


@media screen and (min-width:980px) {
    .slider-section {
        flex-direction: row;
        align-items: start;
    }
    .table {
        margin: 0 2rem;
    }


}