main { 
    text-align: center;
}

.card {
    max-width: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #262526;
    margin: 3rem;
    padding-bottom: 3rem;
}

.occasion-image {
    max-width: 300px;
}

.card-body {
    text-align: start;
    margin-bottom: 3rem;
}

.card-data {
    margin: 1rem;
}
