
.reviews-section {
    
    text-align: center;
    padding: 2rem;
}

.reviews-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
}

.reviews {
    flex: 0 0 auto;
    margin: 3rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 10px #262526;
    border-radius: 50px;
}

.message {
    max-width: 350px;
    max-height: 125px;
    text-align: justify;
    justify-content: center;
    overflow: auto;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    width: 450px;
    border-radius: 0.2rem;
    padding: 2rem 3rem;
    box-shadow: 0 0 1.5rem;
    font-weight: bold;
    margin: 5rem;
}

input{
	width:100%;
	height:35px;
	margin-top:1rem;
	margin-bottom: 2rem;
	border:1px solid #999;
	border-radius:3px;
	padding: 0.5rem;
}

textarea{
	width:100%;
	height:80px;
	margin-top:5px;
	border-radius:3px;
	padding:5px;
	resize:none;
}

.reviews-name {
    font-weight: bold;

}